@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";
@namespace presentation "com.qiwi.marketing.presentation.*";

@font-face {
	src: url(fonts/MyriadPro-Regular.otf);
	fontFamily: "Myriad Pro";
	fontStyle: normal;
	fontWeight: normal;
}

@font-face {
	src: url(fonts/MyriadPro-Bold.otf);
	fontFamily: "Myriad Pro";
	fontStyle: normal;
	fontWeight: bold;
}

@font-face {
	src: url(fonts/MyriadPro-Regular.otf);
	fontFamily: "Myriad Pro MX";
	fontStyle: normal;
	fontWeight: normal;
	embedAsCFF: false;
}

@font-face {
	src: url(fonts/MyriadPro-Bold.otf);
	fontFamily: "Myriad Pro MX";
	fontStyle: normal;
	fontWeight: bold;
	embedAsCFF: false;
}

global {
	fontFamily: "Myriad Pro";
	fontWeight: normal;
	fontSize: 12px;
	color: #ffffff;
	rollOverColor: #ff9900;
	textRollOverColor: #ff9900;
}

mx|Alert {
	fontFamily: "Myriad Pro MX";
	fontWeight: normal;
	fontSize: 24px;
	backgroundColor: #000000;
	dropShadowVisible: true;
	chromeColor: #2266bb;
	titleStyleName: alertTitle;
	messageStyleName: alertMessage;
	buttonStyleName: alertButton;
}

.alertMessage {
	fontFamily: "Myriad Pro MX";
	color: #ffffff;
}

.alertTitle {
	fontFamily: "Myriad Pro MX";
	fontSize: 24px;
	fontWeight: bold;
	color: #ffffff;
}

.alertButton {
	fontFamily: "Myriad Pro MX";
	fontSize: 24px;
}

s|Button {
	skinClass: ClassReference('com.qiwi.marketing.presentation.skins.ButtonSkin');
	color: #ffffff;
	fontSize: 12px;
	fontWeight: bold;
}

s|DataGrid {
	contentBackgroundColor: #000000;
	selectionColor: #2266bb;
	fontSize: 12px;
}

s|GridItemRenderer {
	color: #ffffff; /* defines the header text color */
	chromeColor: #ff8100; /* defines the header background color */
	fontWeight: normal;
}

s|Panel {
	backgroundColor: #000000;
	cornerRadius: 0;
}

s|ComboBox {
	contentBackgroundColor: #000000;
	chromeColor: #ff9900;
	borderColor: #ffffff;
	focusColor: #ff9900;
	selectionColor: #ff9900;
}

s|ComboBox s|TextInput {
	focusedTextSelectionColor: #ff9900;
	borderColor: #ffffff;
}

s|TextArea {
	contentBackgroundColor: #000000;
	borderColor: #ffffff;
	focusColor: #ff9900;
	focusedTextSelectionColor: #ff9900;
}

.customClass{
	fontSize: 14px;
	fontFamily: "sans";
	textAlign: center;
}


/*mx|ColumnSeries s|Label {*/
	/*fontFamily: "Myriad Pro";*/
	/*fontSize: 30px;*/
/*}*/

/*mx|ColumnChart s|Label {*/
	/*fontFamily: "Myriad Pro";*/
	/*fontSize: 30px;*/
/*}*/

mx|DataTip {
	fontFamily: "Myriad Pro MX";
	backgroundColor: #000000;
}

presentation|ProjectsBoard, presentation|ProjectsBoard s|*, presentation|ProjectsBoard mx|* {
	fontSize: 30px;
}

presentation|ProjectInfo, presentation|ProjectInfo s|*, presentation|ProjectInfo mx|* {
	fontSize: 20px;
}